* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

.Front-End {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2em;
}

.firstdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h_line {
    width: 3px;
    height: 40px;
    background-color: #ffff00;
    margin: auto;
}

.V_one {
    width: 25.2%;
    height: 2px;
    background-color: yellow;
}

.V_two {
    width: 74%;
    height: 2px;
    background-color: yellow;
    align-self: center;
}

button {
    width: auto;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.secdiv {
    padding: 0 5px;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
}

.Developers {
    display: flex;
    gap: 10em;
    width: 100%;
}

.thrdiv {
    padding: 0 5px;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
}

.MainDiv {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: auto;
    width: 50%;
}


/* .butndiv {
    background-color: yellow;
    width: 20%;
    text-align: auto;
}

button {
    font-size: 0.6rem;
    padding: 10px;
    width: 70%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.bottom-line {
    background-color: #cdcdcd;
    width: 1px;
    height: 40px;
    margin: auto;
}

.Front {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Developer_main {
    display: flex;
    flex-direction: row;
    background-color: green;
    justify-content: space-around;
}

.bottom-line-vertical {
    background-color: #cdcdcd;
    width: 20rem;
    height: 1px;
    margin: auto;
}

.Font_main {
    background-color: blue;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.frontbtn {
    width: 40%;
    align-self: center;
}
 */


/* //second attempt */


/* 
.node {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    position: relative;
}

.node__element::before {
    content: '';
    height: 20px;
    width: 1px;
    background-color: #dcdcdc;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: auto;
}

.node__bottom-line {
    height: 20px;
    width: 1px;
    background-color: #dcdcdc;
}

.node__children {
    display: flex;
    padding: 20px;
    border-top: 1px solid #dcdcdc;
    align-items: center;
}

.node__element {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 5px;
    min-width: 60px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
} */