/* * {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

.tree {
    display: flex;
    margin-top: 30px;
    background-color: red;
    justify-content: center;
}

.node {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    position: relative;
}

.node__element::before {
    content: '';
    height: 20px;
    width: 1px;
    background-color: #dcdcdc;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: auto;
}

.node__bottom-line {
    height: 20px;
    width: 1px;
    background-color: #dcdcdc;
}

.node__children {
    display: flex;
    padding: 20px;
    border-top: 1px solid #dcdcdc;
    align-items: center;
}

.node__element {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 5px;
    min-width: 60px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1,
h2,
h3 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}